:root {
	--footer-height: 40px;
}

img {
	max-width: 100%;
	height: auto;
	padding: 10px;
}

.gridContainer {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 120px auto var(--footer-height);
	grid-template-areas:
	"grid_navibar"
	"grid_content"
	"grid_footer";
}

.navibar {
	background: #272727;
	grid-area: grid_navibar;
}

.content {
	padding: 20px;
	line-height: 1.5;
	background: #000000 url("bg.jpg");
	background-size: cover;
	color: white;
	font-size: 15px;
	grid-area: grid_content;
}

.footer {
	background: #747474;
	grid-area: grid_footer;
}

.content-head {
}

.content-main {
	background: #FF652F;
	margin: 40px 20px 20px 20px;
	max-width: 1000px;
}

.footerTxt {
	color: WhiteSmoke;
	position: absolute;
	bottom: 0;
	padding: 5px;
}

.checkBtn {
	width: 120px;
	padding: 10px;
	margin: 10px 0px 0px 0px;
}

.checkBtnContainer {
	padding: 5px 30px 0px 0px;
	float: right;
}

@media (min-width: 800px) {
	.gridContainer {
		grid-template-columns: 200px auto;
		grid-template-rows: auto var(--footer-height);
		grid-template-areas:
        "grid_navibar grid_content"
        "grid_navibar grid_footer";
    }
    
    .checkBtnContainer {
		width: 100%;
		height: auto;
		padding: 80px 0px 0px 0px;
    }
    
    .checkBtn {
		width: 100%;
    }
}